body {
  margin: 0;
  padding: 0 100px;
  color: #fff;
  background-color: rgb(110, 110, 106);
}

.container {
  display: grid;
  width: 500px;
  height: 400px;
  grid-template-rows: 100px 100px 100px;
  margin-bottom: 50px;
}

.item {
  font-size: 18px;
  text-align: center;
  line-height: 100px;
  border: 1px dashed #fff;
}

.item-one {
  background-color: #5D7599;
}

.item-two {
  background-color: #ABB6c8;
}

.item-three {
  background-color: #DADADA;
}

.item-four {
  background-color: #60EFDB;
}

.item-five {
  background-color: #BEF2E5;
}

.item-six {
  background-color: #C5E7F1;
}

.item-seven {
  background-color: #BFB8DA;
}

.item-eight {
  background-color: #E8B7D4;
}

.item-nine {
  background-color: #A5678E;
}

.container-one {
  grid-template-columns: repeat(3, 100px);
}

.container-two {
  /* display: inline-grid; */
  grid-template-columns: repeat(auto-fill, 100px);
}

.container-three {
  /* grid-template-columns: 100px 1fr 2fr; */
  grid-template-columns: 100px 1fr minmax(100px, 2fr);
}

.container-four {
  grid-template-columns: 100px auto 100px;
  /* grid-template-columns: 20% 60% 20%; */
}

.container-five {
  grid-template-columns: repeat(3, 33.3%);
  /* row-gap: 10px;
  column-gap: 20px;*/
  gap: 10px 20px;
} 





